/*中间内容*/
.middle_content {
  min-height: 9rem;
}
.middle_content .course_banner {
  background: url("../images/courseDetailStyle/info_bg.jpg");
}
.middle_content .course_banner div:nth-child(2) {
  padding: 0 0.4rem;
}
.middle_content .course_banner div:nth-child(2) h1 {
  color: #fff;
  font-size: 0.4rem;
  line-height: 0.6rem;
  font-weight: 700;
}
.middle_content .course_banner div:nth-child(2) h2 {
  color: #fff;
  font-size: 0.24rem;
  line-height: 0.4rem;
}
.middle_content .course_banner div:nth-child(2) h2 span.layui-icon-user {
  margin-left: 1rem;
}
.middle_content .course_banner div:nth-child(2) h2 strong {
  color: red;
  font-size: 0.4rem;
  line-height: 0.6rem;
  font-weight: 700;
}
.middle_content .course_banner div:nth-child(2) h2 strong span {
  font-size: 0.24rem;
  line-height: 0.4rem;
}
.middle_content .course_banner div:nth-child(2) h3 {
  font-size: 0.24rem;
  line-height: 0.4rem;
  color: #fff;
}
.middle_content .course_banner div:nth-child(2) h3 a {
  color: #00a0e9;
}
.middle_content .course_banner div:nth-child(2) div ul {
  float: left;
}
.middle_content .course_banner div:nth-child(2) div ul li {
  float: left;
  color: #ffffff;
  line-height: 0.7rem;
  margin-right: 0.2rem;
}
.middle_content .course_banner div:nth-child(2) div div {
  color: #fff;
  font-size: 0.28rem;
  line-height: 0.7rem;
  padding: 0 0.4rem;
}
.middle_content .course_content .container .teacher_recommend {
  border-bottom: 0.02rem solid #c8c8c8;
}
.middle_content .course_content .container .teacher_recommend div {
  border-bottom: 0.04rem solid #00a3ff;
  width: 1.4rem;
  line-height: 1rem;
  text-align: center;
  color: #00a3ff;
}
.middle_content .course_content .container .teacher_recommend div div {
  padding: 0 !important;
}
.middle_content .course_content .container p {
  padding: 0.2rem;
}
.middle_content .course_recommend .container .teacher_recommend {
  border-bottom: 0.02rem solid #c8c8c8;
}
.middle_content .course_recommend .container .teacher_recommend div {
  border-bottom: 0.04rem solid #00a3ff;
  width: 1.4rem;
  line-height: 1rem;
  text-align: center;
  color: #00a3ff;
}
.middle_content .course_recommend .container .teacher_recommend div div {
  padding: 0 !important;
}
.middle_content .course_recommend .container #course_recommend_ul li {
  border-bottom: 0.02rem solid #c8c8c8;
  padding: 0.4rem 0;
}
.middle_content .course_recommend .container #course_recommend_ul li div:nth-child(1) h1 {
  font-weight: 800;
  font-size: 0.32rem;
  line-height: 0.6rem;
}
.middle_content .course_recommend .container #course_recommend_ul li div:nth-child(1) h2 span {
  font-size: 0.24rem;
  line-height: 1rem;
}
.middle_content .course_recommend .container #course_recommend_ul li div:nth-child(1) h2 span:nth-child(1) {
  float: left;
}
.middle_content .course_recommend .container #course_recommend_ul li div:nth-child(1) h2 span:nth-child(2) {
  float: right;
}
.middle_content .course_recommend .container #course_recommend_ul li div:nth-child(2) {
  padding-left: 0;
}
.middle_content .course_recommend .container #course_recommend_ul li div:nth-child(2) img {
  border-radius: 0.1rem;
}
/*立即购买*/
.buy-btn {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}
.buy-btn div {
  float: left;
  width: 50%;
  text-align: center;
  line-height: 1rem;
  height: 1rem;
  font-size: 0.4rem;
}
.buy-btn div:nth-child(1) {
  background: #00a3ff;
}
.buy-btn div:nth-child(2) {
  background: red;
}
.buy-btn div a {
  color: #fff;
}
/*# sourceMappingURL=courseDetail_less.css.map */