/*轮播图*/
.carousel_wrapper .item img {
  height: 4rem;
}
/*通知公告*/
.notice .container .notice_box {
  box-shadow: 0 0 0.2rem #eee;
  background: #fff;
  border-radius: 0.06rem;
  margin-top: 0.2rem;
}
.notice .container .notice_box .notice_title {
  height: 30px;
  background: #fff;
  padding: 0 10px;
  border-bottom: 0.02rem solid #eeeeee;
}
.notice .container .notice_box .notice_title b {
  display: block;
  float: left;
  font-size: 0.32rem;
  line-height: 0.6rem;
  font-weight: 700;
}
.notice .container .notice_box .notice_title a {
  float: right;
  text-decoration: none;
}
.notice .container .notice_box .notice_title a span {
  font-size: 0.24rem;
  line-height: 0.6rem;
  color: red;
}
/*中心概况*/
.center_detail .container .center_detail_box {
  box-shadow: 0 0 10px #eee;
  background: #fff;
  border-radius: 0.06rem;
  margin-top: 0.2rem;
}
.center_detail .container .center_detail_box .center_detail_title {
  height: 0.6rem;
  background: #fff;
  padding: 0 0.2rem 0 0.2rem;
  line-height: 30px;
  border-bottom: 0.02rem solid #eeeeee;
}
.center_detail .container .center_detail_box .center_detail_title b {
  font-size: 0.32rem;
  line-height: 0.6rem;
  display: block;
  float: left;
  font-weight: 700;
}
.center_detail .container .center_detail_box .center_detail_title a {
  float: right;
  text-decoration: none;
}
.center_detail .container .center_detail_box .center_detail_title a span {
  font-size: 0.24rem;
  line-height: 0.6rem;
  color: red;
}
.center_detail .container .center_detail_box .center_detail_container .center_detail_img img {
  width: 100%;
}
.center_detail .container .center_detail_box .center_detail_container .center_detail_content {
  padding: 0.2rem 0;
}
.center_detail .container .center_detail_box .center_detail_container .center_detail_content div p {
  font-size: 0.24rem;
  line-height: 0.4rem;
  max-height: 4rem;
  overflow: hidden;
}
/*新闻热点*/
.news .container .news_box {
  box-shadow: 0 0 0.2rem #eee;
  background: #fff;
  border-radius: 0.06rem;
  margin-top: 0.2rem;
}
.news .container .news_box .news_title {
  height: 0.6rem;
  background: #fff;
  padding: 0 0.2rem 0 0.2rem;
  line-height: 0.6rem;
  border-bottom: 0.02rem solid #eeeeee;
}
.news .container .news_box .news_title b {
  display: block;
  float: left;
  font-size: 0.32rem;
  line-height: 0.6rem;
  font-weight: 700;
}
.news .container .news_box .news_title a {
  float: right;
  text-decoration: none;
}
.news .container .news_box .news_title a span {
  font-size: 0.24rem;
  line-height: 0.6rem;
  color: red;
}
.news .container .news_box .news_container .news_content_box .news_content_box_title {
  padding: 0 0 0 0.2rem;
  font-size: 0.24rem;
  line-height: 0.6rem;
  height: 0.6rem;
}
.news .container .news_box .news_container .news_content_box .news_content_box_title span {
  float: left;
  font-size: 0.28rem;
  line-height: 0.6rem;
}
.news .container .news_box .news_container .news_content_box .news_content_box_title i {
  display: block;
  width: 0.06rem;
  height: 0.06rem;
  background: #888;
  float: left;
  border-radius: 50%;
  margin: 0.3rem 0.1rem 0;
}
.news .container .news_box .news_container .news_content_box .news_content_box_top {
  padding: 0 0.2rem;
  display: flex;
}
.news .container .news_box .news_container .news_content_box .news_content_box_top .news_content_box_lf img {
  width: 3rem;
}
.news .container .news_box .news_container .news_content_box .news_content_box_top .news_content_box_ri {
  flex-grow: 1;
  padding: 0 0.2rem;
}
.news .container .news_box .news_container .news_content_box .news_content_box_top .news_content_box_ri div {
  font-size: 0.28rem;
  line-height: 0.4rem;
}
.news .container .news_box .news_container .news_content_box .news_content_box_top .news_content_box_ri div:nth-child(1) {
  font-weight: 700;
}
.news .container .news_box .news_container .news_content_box .news_content_box_top .news_content_box_ri a {
  color: #16619f;
  font-size: 0.28rem;
  line-height: 0.4rem;
}
.news .container .news_box .news_container .news_content_box .news_content_box_bottom {
  padding: 0 0.2rem 0 0.6rem;
}
.news .container .news_box .news_container .news_content_box .news_content_box_bottom ul li {
  list-style-type: square;
}
.news .container .news_box .news_container .news_content_box .news_content_box_bottom ul li a {
  font-size: 0.24rem;
  line-height: 0.4rem;
}
/*名师风采*/
.famouse_teacher .container .famouse_teacher_box {
  box-shadow: 0 0 10px #eee;
  background: #fff;
  border-radius: 0.06rem;
  margin-top: 0.2rem;
}
.famouse_teacher .container .famouse_teacher_box .famouse_teacher_title {
  height: 0.6rem;
  background: #fff;
  padding: 0 0.2rem 0 0.2rem;
  line-height: 0.6rem;
  border-bottom: 0.02rem solid #eeeeee;
}
.famouse_teacher .container .famouse_teacher_box .famouse_teacher_title b {
  display: block;
  float: left;
  font-size: 0.32rem;
  line-height: 0.6rem;
  font-weight: 700;
}
.famouse_teacher .container .famouse_teacher_box .famouse_teacher_title a {
  float: right;
  text-decoration: none;
}
.famouse_teacher .container .famouse_teacher_box .famouse_teacher_title a span {
  font-size: 0.24rem;
  line-height: 0.6rem;
  color: red;
}
.famouse_teacher .container .famouse_teacher_box .famouse_teacher_container ul li h1 {
  padding: 0.2rem;
}
.famouse_teacher .container .famouse_teacher_box .famouse_teacher_container ul li div.news_content_box_bottom {
  padding: 0 0.2rem;
}
.famouse_teacher .container .famouse_teacher_box .famouse_teacher_container ul li .famouse_teacher_content_box_title {
  padding: 0 0 0 0.2rem;
  font-size: 0.28rem;
  line-height: 0.6rem;
  height: 0.6rem;
}
.famouse_teacher .container .famouse_teacher_box .famouse_teacher_container ul li .famouse_teacher_content_box_title span {
  float: left;
  font-size: 0.28rem;
  line-height: 0.6rem;
}
.famouse_teacher .container .famouse_teacher_box .famouse_teacher_container ul li .famouse_teacher_content_box_title i {
  display: block;
  width: 0.06rem;
  height: 0.06rem;
  background: #888;
  float: left;
  border-radius: 50%;
  margin: 0.3rem 0.1rem 0;
}
.famouse_teacher .container .famouse_teacher_box .famouse_teacher_container ul li .famouse_teacher_content_box_bottom {
  padding: 0 0.2rem 0 0.6rem;
}
.famouse_teacher .container .famouse_teacher_box .famouse_teacher_container ul li .famouse_teacher_content_box_bottom ul li {
  list-style-type: square;
}
.famouse_teacher .container .famouse_teacher_box .famouse_teacher_container ul li .famouse_teacher_content_box_bottom ul li a {
  font-size: 0.24rem;
  line-height: 0.4rem;
}
.famouse_teacher .container .famouse_teacher_box .famouse_teacher_container ul li div .famouse_teacher_brief_box {
  padding: 0 0.2rem;
}
.famouse_teacher .container .famouse_teacher_box .famouse_teacher_container ul li div .famouse_teacher_brief_box .famouse_teacher_brief li {
  width: 2.66rem;
  float: left;
  margin-right: 0.2rem;
}
.famouse_teacher .container .famouse_teacher_box .famouse_teacher_container ul li div .famouse_teacher_brief_box .famouse_teacher_brief li a img {
  width: 2.66rem;
  height: 3.08rem;
}
.famouse_teacher .container .famouse_teacher_box .famouse_teacher_container ul li div .famouse_teacher_brief_box .famouse_teacher_brief li a h1 {
  text-align: center;
  font-size: 0.28rem;
  line-height: 0.6rem;
  height: 0.6rem;
  padding: 0;
}
/*学友之家*/
.friend .container .friend_box {
  box-shadow: 0 0 0.2rem #eee;
  background: #fff;
  border-radius: 0.06rem;
  margin-top: 0.2rem;
}
.friend .container .friend_box .friend_title {
  height: 0.6rem;
  background: #fff;
  padding: 0 0.2rem 0 0.2rem;
  line-height: 0.6rem;
  border-bottom: 0.02rem solid #eeeeee;
}
.friend .container .friend_box .friend_title b {
  display: block;
  float: left;
  font-size: 0.32rem;
  line-height: 0.6rem;
  font-weight: 700;
}
.friend .container .friend_box .friend_title a {
  float: right;
  text-decoration: none;
}
.friend .container .friend_box .friend_title a span {
  font-size: 0.24rem;
  line-height: 0.6rem;
  color: red;
}
/*教学资源*/
.teach .container .teach_box {
  box-shadow: 0 0 0.2rem #eee;
  background: #fff;
  border-radius: 0.06rem;
  margin-top: 0.2rem;
}
.teach .container .teach_box .teach_title {
  height: 0.6rem;
  background: #fff;
  padding: 0 0.2rem 0 0.2rem;
  line-height: 0.6rem;
  border-bottom: 1px solid #eeeeee;
}
.teach .container .teach_box .teach_title b {
  display: block;
  float: left;
  font-size: 0.32rem;
  line-height: 0.6rem;
  font-weight: 700;
}
.teach .container .teach_box .teach_title a {
  float: right;
  text-decoration: none;
}
.teach .container .teach_box .teach_title a span {
  font-size: 0.24rem;
  line-height: 0.6rem;
  color: red;
}
.teach .container .teach_box .teach_container ul li.teach_content_box h1 {
  padding: 0.2rem;
}
.teach .container .teach_box .teach_container ul li.teach_content_box div.news_content_box_bottom {
  padding: 0 02rem;
}
.teach .container .teach_box .teach_container ul li.teach_content_box div .teach_content_box_title {
  padding: 0 0 0 0.2rem;
  font-size: 0.28rem;
  line-height: 0.6rem;
  height: 0.6rem;
}
.teach .container .teach_box .teach_container ul li.teach_content_box div .teach_content_box_title span {
  float: left;
  font-size: 0.28rem;
  line-height: 0.6rem;
}
.teach .container .teach_box .teach_container ul li.teach_content_box div .teach_content_box_title i {
  display: block;
  width: 0.06rem;
  height: 0.06rem;
  background: #888;
  float: left;
  border-radius: 50%;
  margin: 0.3rem 0.1rem 0;
}
.teach .container .teach_box .teach_container ul li.teach_content_box div .teach_content_box_bottom {
  padding: 0 0.2rem 0 0.6rem;
}
.teach .container .teach_box .teach_container ul li.teach_content_box div .teach_content_box_bottom ul li {
  list-style-type: square;
}
.teach .container .teach_box .teach_container ul li.teach_content_box div .teach_content_box_bottom ul li a {
  font-size: 0.24rem;
  line-height: 0.4rem;
}
.teach .container .teach_box .teach_container ul li.teach_content_box div div .teach_brief_box {
  padding: 0 0 0 0.2rem;
}
.teach .container .teach_box .teach_container ul li.teach_content_box div div .teach_brief_box .teach_brief li {
  width: 2.66rem;
  float: left;
  margin: 0 0.2rem 0.2rem 0;
  position: relative;
}
.teach .container .teach_box .teach_container ul li.teach_content_box div div .teach_brief_box .teach_brief li a img {
  width: 2.66rem;
  height: 3.08rem;
}
.teach .container .teach_box .teach_container ul li.teach_content_box div div .teach_brief_box .teach_brief li a h1 {
  position: absolute;
  text-align: center;
  font-size: 0.28rem;
  line-height: 0.6rem;
  height: 0.6rem;
  background: #000;
  width: 100%;
  opacity: 0.5;
  bottom: 0;
  color: #fff;
}
/*友情链接*/
.friend_link .container .friend_link_box {
  box-shadow: 0 0 0.2rem #eee;
  background: #fff;
  border-radius: 0.06rem;
  margin-top: 0.2rem;
  padding: 0.2rem;
}
.friend_link .container .friend_link_box ul li {
  float: left;
  font-size: 0.24rem;
  line-height: 0.6rem;
  margin-right: 0.4rem;
  color: #000;
}
.friend_link .container .friend_link_box ul li:active {
  opacity: 0.5;
}
.friend_link .container .friend_link_box ul li a {
  font-size: 0.28rem;
  line-height: 0.6rem;
  color: #555555;
  text-decoration: none;
}
.friend_link .container .friend_link_box ul li:nth-child(1) {
  font-weight: 800;
}
/*# sourceMappingURL=home_less.css.map */